/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.gem/ruby/2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
body {
  font-family: 'Antic Slab';
  padding-bottom: 50px;
  height: 300vh;
  background-color: #f5f5f5;
}

/* line 14, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: fantasy;
  font-weight: 800;
  letter-spacing: 2px;
}

/* line 20, ../sass/screen.scss */
section {
  padding-top: 30px;
  margin-bottom: 30px;
}

/* line 25, ../sass/screen.scss */
.indent {
  margin-right: 45px;
}

/* line 29, ../sass/screen.scss */
#navbar {
  display: none;
  height: 50px;
  background-color: red;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

/* line 38, ../sass/screen.scss */
#hero {
  padding-top: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
}
/* line 43, ../sass/screen.scss */
#hero .background {
  background: url("http://4.bp.blogspot.com/-_QKTDA4H_h0/T6lQMoeqaWI/AAAAAAAAAPE/qUFnA-XzfFw/s1600/Animation+Background+Project+redo+copy.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  position: absolute;
}
/* line 52, ../sass/screen.scss */
#hero .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
/* line 59, ../sass/screen.scss */
#hero .content h1 {
  font-size: 42px;
  margin-bottom: 30px;
}
/* line 63, ../sass/screen.scss */
#hero .content h3 {
  font-size: 30px;
  color: #999;
  margin-bottom: 30px;
}
/* line 68, ../sass/screen.scss */
#hero .content img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
/* line 73, ../sass/screen.scss */
#hero .content a {
  color: #fff;
}

/* line 79, ../sass/screen.scss */
#about {
  background-color: #f5f5f5;
  text-align: center;
}
/* line 82, ../sass/screen.scss */
#about h2 {
  font-size: 36px;
  margin-bottom: 50px;
}
/* line 86, ../sass/screen.scss */
#about h4 {
  margin-top: 10px;
}
/* line 89, ../sass/screen.scss */
#about .col-md-4 {
  height: 258px;
}
/* line 92, ../sass/screen.scss */
#about p {
  font-size: 20px;
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 20px;
}
/* line 98, ../sass/screen.scss */
#about .left {
  float: left;
}
/* line 101, ../sass/screen.scss */
#about img {
  border-radius: 3px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7), -3px 3px 6px rgba(0, 0, 0, 0.7);
  float: right;
  display: inline;
  margin-left: 20px;
  width: 100%;
}
/* line 110, ../sass/screen.scss */
#about h3 {
  font-size: 24px;
}
/* line 113, ../sass/screen.scss */
#about .col-md-6 {
  padding: 0 35px;
}

/* line 118, ../sass/screen.scss */
#portfolio {
  text-align: center;
  overflow: hidden;
}
/* line 121, ../sass/screen.scss */
#portfolio h2 {
  font-size: 36px;
  margin-bottom: 50px;
}
/* line 125, ../sass/screen.scss */
#portfolio p {
  margin-bottom: 15px;
}
/* line 128, ../sass/screen.scss */
#portfolio #project1 {
  background: url("../img/adventures.png") no-repeat center center;
  background-size: cover;
}
/* line 132, ../sass/screen.scss */
#portfolio #project2 {
  background: url("../img/codevelop.png") no-repeat center center;
  background-size: cover;
}
/* line 136, ../sass/screen.scss */
#portfolio #project3 {
  background: url("../img/mattReads.png") no-repeat center center;
  background-size: cover;
}
/* line 140, ../sass/screen.scss */
#portfolio #project4 {
  background: url("../img/sld.png") no-repeat center center;
  background-size: cover;
}
/* line 144, ../sass/screen.scss */
#portfolio #project5 {
  background: url("../img/corgi.png") no-repeat center center;
  background-size: cover;
}
/* line 148, ../sass/screen.scss */
#portfolio #project6 {
  background: url("../img/homelegance.png") no-repeat center center;
  background-size: cover;
}
/* line 152, ../sass/screen.scss */
#portfolio .info {
  opacity: 0;
  transition: opacity 1s ease;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}
/* line 160, ../sass/screen.scss */
#portfolio .info h2 {
  margin-bottom: 10px;
}
/* line 164, ../sass/screen.scss */
#portfolio .col-md-6 {
  position: relative;
  padding: 0;
  height: 400px;
}
/* line 169, ../sass/screen.scss */
#portfolio .col-md-6:hover .bg {
  filter: brightness(20%);
}
/* line 172, ../sass/screen.scss */
#portfolio .col-md-6:hover .info {
  opacity: 1;
}
/* line 177, ../sass/screen.scss */
#portfolio .bg {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
  transition: filter 1s ease;
}

/* line 185, ../sass/screen.scss */
footer {
  border-top: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}
