.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
} 

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.stack:only-child {
  block-size: 100%;
}

.stack.splitAfter2 > :nth-child(2) {
  margin-block-end: auto;
}

.stack.recursive * {
  margin-block: 0;
}
.stack.recursive * + * {
  margin-block-start: var(--space, 1.5rem);
}